@import "tailwindcss";

.thin-scrollbar::-webkit-scrollbar {
    width: 5px;
    border-radius: var(--radius-xl);
}

/* Track */
.thin-scrollbar::-webkit-scrollbar-track {
    border-radius: var(--radius-xl);
    background-color: #eeeeee;
}
   
/* Handle */
.thin-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: var(--radius-xl);
}

/* Handle on hover */
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: var(--radius-xl);
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}